body {
    margin: 0;
    padding: 0;
    font-family:fibon-sans ;
}

@font-face {
    font-family: fibon-sans;
    src: url(Fibon_Sans_Regular.otf);

}

.contenedor {
    width: 90%;
    max-width: 1280px;
    margin: auto;
}

.menu {
    background: #705D31;
    padding: 1px 20px;
}

.menu .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 16%;
    margin-top: -18px;
    margin-bottom: -12px;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

#inicio .nav-superior {
    font-size: 22px;
}

/*ESTILOS SECCIÓN INTRO*/

#intro {
    background: url(imagenes/habitacion.jpg);
    background-size: cover;
    background-position: center;
    /*font-family: 'Oswald';*/
    font-family: fibon-sans;
    display: flex;
}

#intro .izquierda {
    background-color: rgba(255,255,255,0.85);
    width: 66%;
    padding: 65px 75px;
}

#intro .derecha {
    width: 57%;
    color: #fff;
    height: 503px;
    background-image: linear-gradient(180deg, rgba(255,255,255,0) 80%, #fff 80%);
}

#intro .contenido {
    background: #E6D0CE;
    padding: 1px 50px 40px 50px;
}

#intro .izquierda p {
    font-size: 14px;
    letter-spacing: 18px;
}

#intro h1 {
    font-size: 66px;
    font-weight: 100;
    letter-spacing: 19px;
    margin: 0;
    margin-bottom: 30px;
}

#intro a, #programs a, #testimonials a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    letter-spacing: 7px;
    border-bottom: 2px solid #E6D0CE;
    padding-bottom: 13px;
    padding: 0 18px 13px 10px;
}

#intro .derecha a {
    color: #fff;
    border: 1px solid #fff;
    padding: 20px;
    display: inline-block;
}

#intro .derecha p {
    font-size: 30px;
    letter-spacing: 5px;
}

/*PROGRAMS*/

span {
    
    color: #CAB7B6;
}


.owl-nav {
    text-align: center;
    font-size: 80px;
}

.mandala-azul {
    height: 336px;
}

.duvet {
    height: 336px;
}

.memory {
    height: 336px;
}

#programs {
    padding-top: 90px;
    text-align: center;
    font-family: fibon-sans;
}

.rojo {
    color: #CAB7B6;
}

#cuenta {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}


.simply-section {
    background: #fff;
    width: 180px;
    height: 180px;
    margin: 0 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.simply-amount {
    display: block;
    font-weight: 700;
}

#programs .cero {
    font-size: 40px;
    margin-bottom: 0;
    
}

#programs .ini {
    letter-spacing: 18px;
    font-size: 15px;
}

#porque-becotton {
    font-size: 20px !important;
}

#programs h2 {
    font-size: 63px;
    font-weight: 100;
    letter-spacing: 16px;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 16px;
}

#programs p {
    /*font-family: 'Open Sans';*/
    font-family: fibon-sans;
    color: #666;
    font-size: 15px;
    width: 73%;
    margin: auto;
    line-height: 30px;
}

#programs a {
    margin-top: 62px;
    display: inline-block;
}

#programs h3 {
    text-align: center;
}
.contenedor-programs {
    display: flex;
    margin-top: 50px;
    width: 88%;
    margin: auto;
}

#programs #uno {
    background: #797979;
    color: #fff;
}

#uno p, #dos p, #tres p {
    color: #fff;
    text-align: left;
    width: 100%;
}

h3 {
    font-size: 26px;
    letter-spacing: 4px;
    margin: 0;
    text-align: left;
    font-weight: 400;
    margin-bottom: 16px;
}

.program {
    padding: 45px 47px;
    box-shadow: 50px 70px 120px -42px rgba(0,0,0,0.3);
}

#dos {
    background: #E6D0CE;
    color: #fff;
    position: relative;
    top: 120px;
}

#tres p {
    color: #000;
}

/*Video*/
#section-video {
    padding-top: 193px;
    text-align: center;
}

#section-video .contenedor {
    position: relative;
}

#section-video .botones {
    position: absolute;
    top: 35%;
    left: 46%;
}

#section-video i {
    font-size: 125px;
    color: #fff;
}

#section-video button {
    border: 0;
    background: none;
}

/*Join*/
#join {
    display: flex;
    padding-top: 200px;
}

#join .izquierda {
    width: 49%;
    background: #E6D0CE;
    margin-left: 100px;
    height: 340px;
    position: relative;
}

#join img {
    width: 47%;
}

#join .derecha {
    width: 53%;
    position: relative;
    background: url(imagenes/habitacion3.jpg);
    background-size: cover;
}

#join .izquierda a {
    color: #fff;
    border: 1px solid #fff;
    padding: 15px 24px;
    text-decoration: none;
    display: inline-block;
    /*font-family: 'Oswald';*/
    font-family: fibon-sans;
    letter-spacing: 5px;
    position: absolute;
    top: 8%;
    left: 7%;
}

#join #uno {
    position: absolute;
    top: 24%;
    left: 56%;
    z-index: 1;
    width: 44%;
}

#join #dos {
    position: absolute;
    top: -10%;
}

#join #tres {
    position: absolute;
    left: 47%;
    top: 36%;
    width: 47%;
}

/*Testimonials*/
#testimonials {
    padding-top: 230px;
    text-align: center;
}

span.comillas {
    font-size: 120px;
    color: #E6D0CE;
}

#testimonials h2 {
    font-size: 63px;
    font-weight: 100;
    letter-spacing: 16px;
    margin: 0;
    margin-bottom: 36px;
    /*font-family: 'Oswald';*/
    font-family: fibon-sans;
}

#testimonials a {
    /*font-family: 'Oswald';*/
    font-family: fibon-sans;
}

.contenedor-testimonials {
    display: flex;
    margin-top: 90px;
    justify-content: center;
}

.testimonial {
    width: 40%;
    margin-right: 40px;
}

.testimonial .contenido {
    display: flex;
}

.foto {
    background: url(imagenes/testimonial.jpg);
    background-size: cover;
    width: 490px;
    height: 85px;
    border-radius: 100%;
    margin-top: 22px;
    background-position: center;
}

.testimonial p {
    color: #666;
    font-size: 15px;
    text-align: left;
    margin-left: 24px;
    line-height: 30px;
    font-family: fibon-sans;
}

p.nombre {
    margin-left: 125px;
    font-weight: bold;
}

/*CONTACTO*/
#contacto {
    background: url(imagenes/habitacion9.jpg);
    font-family: 'Oswald';
    color: #000;
    display: flex;
}

#contacto .izquierda {
    padding: 100px;
    width: 43%;
}

#contacto .izquierda p {
    font-size: 14px;
    letter-spacing: 18px;
}

#contacto h2 {
    font-size: 66px;
    font-weight: 100;
    letter-spacing: 19px;
    margin: 0;
    margin-bottom: 30px;
}

#contacto form input[type="text"], #contacto form input[type="email"],
 #contacto form textarea {
    width: 100%;
    border: 0;
    background: none;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    font-size: 16px;
    margin-bottom: 34px;
    /*font-family: 'Oswald';*/
    font-family: fibon-sans;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 100;
    color: #000;
}

::placeholder {
     color: #000;
}

 input[type="submit"] {
     background: none;
     border: 1px solid #CAB7B6;
     padding: 20px 30px;
     color: #CAB7B6;
     font-size: 17px;
     /*font-family: 'Oswald';*/
     font-family: fibon-sans;
     letter-spacing: 5px;
     float: right;
}

#contacto .derecha {
    background: #E6D0CE;
    align-self: flex-end;
    padding: 5px 50px 50px 50px;
    width: 36%;
}

.gym-hours {
    box-shadow: 0px 70px 120px -42px rgba(0,0,0,0.3);
    padding: 30px;
    margin-bottom: 32px;
}

.gym-hours ul {
    padding: 0;
}

.gym-hours li {
    list-style: none;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: fibon-sans;
    margin-bottom: 20px;
    font-size: 14px;
}

.pass {
    background: #fff;
    color: #000;
    padding: 30px;
}

.pass a {
    text-decoration: none;
    color: #000;
    border: 1px solid #CAB7B6;
    padding: 22px 30px;
    display: inline-block;
    font-size: 17px;
    letter-spacing: 5px;
    margin-top: 20px;
}

.menu-icon {
    display: none;
}

/*Footer*/
footer nav.menu_inferior {
    color: #999999;
    text-align: center;
    padding: 20px 0;
    margin: 30px 0 0 0; 
    background-color: #705D31 ;
    
}

.contenedor-footer-superior {
    position: relative;
    margin: 0 auto;
    clear: both;
    max-width: 1355px;
    min-width: 320;
    display: block;
    text-align: center;
}


footer nav.menu_inferior ul {
    list-style: none;
    text-align: left;
    padding: 0 3% 15px 2%;
    font-size: 16px;
    width: 19.5%;
    border-right: 1px solid #999999;
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    
}

footer nav.menu_inferior ul:last-child {
    border: none;
    
}
footer nav.menu_inferior ul li {
    margin-bottom: 10px;
    display: list-item;
    
}

footer nav.menu_inferior ul li.titulo {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}

footer nav.menu_inferior ul li.titulo a {
    color: #fff;
}

footer nav.menu_inferior ul li:hover a {
    color: #797979;
    text-decoration: none;
    background-color: transparent;
    text-align: left;
    font-size: 15px;
    background: none;
    padding: inherit;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}


.contenedor-footer-superior {
    display:flex
}

footer nav.button_bar {
    background-color: hsl(42, 19%, 55%);
    text-align: center;
    padding: 30px 0;
    display: block;
}

footer nav.button_bar ul.brand {
    width: 22%;
}

footer nav.button_bar ul:first-child li:first-child {
    width: 100%;
    margin-left: -82px;
    margin-top: -43px;
}

footer nav.button_bar ul {
    list-style: none;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
}

footer nav.button_bar ul li {
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    font-size: 12px;
}

footer nav.button_bar ul li img {
    max-height: 194px;
    width: 100%;
    position: relative;
    max-width: 302px;
}

#derechos {
    margin-left: -35px;
    margin-top: -50px;
    
}

footer nav.button_bar ul.medios_pago {
    text-align: center;
    width: 34%;
    margin: 0 6%;
}

footer nav.button_bar ul.medios_pago li {
    width: auto;
    padding: 0 0 20px 0;
}

.medios_pago li img {
    height: 30px;
    height: 1.875rem;
    width: auto !important;
}

#daviplata {
    height: 55px;
}

#mercadopago {
    height: 50px;
}

#facebook {
    height: 30px;
}

#instagram {
    height: 30px;
}

#whatsapp {
    height: 30px;
}

#carrito a {
    background: none;
    position: fixed;
    top: 60%;
    right: 1%;
}


#whatsapp a {
    background: none;
    position: fixed;
    top: 80%;
    right: 1%;
}

@media screen and (max-width: 800px) {

    #inicio {
        position:absolute;
        top: 15%;
        left: 0;
        width: 100%;
        background: #000;
        display: none;
    }

    .menu-icon {
        display: block;
        float: right;
    }

    nav ul li {
        display: block;
        margin-bottom: 20px;
    }

    nav ul li a {
        color: #fff;
    }

    #intro .izquierda p {
        letter-spacing: 6px;
    }

    #intro h1 {
        font-size: 36px;
        letter-spacing: 9px;
    }

    #intro a, #programs a, #testimonials a {
        font-size: 13px;
        letter-spacing: 4px;
    }

    #intro .izquierda {
        width: 100%;
        padding: 24px 26px;
        height: 258px;
    }

    #intro {
        flex-direction: column;
    }

    #intro .derecha {
        width: 100%;
        height: 200px;
    }

    #programs .cero {
        font-size: 15px;
    }

    #programs .ini {
        letter-spacing: 12px;
    }

    #programs h2 {
        font-size: 34px;
    }

    #programs p {
        width: 100%;
    }

    .contenedor-programs {
        flex-direction: column;
        margin-top: 40px;
    }

    #dos {
        position: relative;
        top: 35px;
    }

    #tres {
        margin-top: 50px;
    }

    #video {
        width: 342px;
        height: 298px;
    }

    #section-video i {
        font-size: 62px;
    }

    #section-video .botones {
        top: 42%;
        left: 40%;
    }

    #section-video {
        padding-top: 0;
    }

    #join {
        flex-direction: column;
        padding-top: 45px;
    }

    #join .izquierda {
        width: 100%;
        margin-left: 0;
    }

    #join #uno {
        top: 34%;
        left: 30%;
    }

    #join .derecha {
        width: 100%;
    }

    #join #tres {
        left: 47%;
        top: 82px;
        width: 53%;
    }

    #join #dos {
        top: 1px;
    }

    #join img {
        width: 63%;
    }

    #testimonials {
        padding-top: 390px;
    }

    #testimonials h2 {
        font-size: 24px;
        letter-spacing: 15px;
    }

    .contenedor-testimonials {
        flex-direction: column;
    }

    .testimonial {
        width: 100%;
    }

    .foto {
        height: 59px;
    }

    #contacto {
        flex-direction: column;
    }

    #contacto .izquierda {
        width: 100%;
    }

    #contacto .izquierda {
        padding: 26px;
    }

    #contacto .izquierda p {
        letter-spacing: 9px;
    }

    #contacto h2 {
        font-size: 35px;
    }

    #contacto form input[type="text"], #contacto form input[type="email"],
     #contacto form textarea {
         width: 82%;
     }

     input[type="submit"] {

        float: left;
     }

    #contacto .derecha {
        padding: 5px 18px 50px 17px;
        width: 91%;
    } 

    .gym-hours {
        padding: 16px;
    }

    .pass {
        padding: 13px;
    }

    #carrito a {
        
        right: 13%;
        top: 50%;
    }

    #carrito img {
        height: 64px;
    }

    #whatsapp a {
        
        right: 11%;
        top: 76%;
    }

    .menu_inferior {
        padding-top: 390px;
    }


    #footer-superior{
        display: block;
    }

    #footer-superior ul{
        height: 230px;
        width: 100%;
    }
    
    footer nav.menu_inferior ul {

        padding-inline-start: 17px;  

    }

    #footer-inferior ul {
        width: 100%;
    }

    footer nav.button_bar ul:first-child li:first-child {
        
        margin-left: 29px;
    }
    
    #derechos {
        margin-left: 57px;
        
    }

    footer nav.button_bar ul.medios_pago {
        
        margin: 0px 3%;
    }

    .titulo {
        width: 100%;
        text-align: center;
        margin-left: -14px;
    }

    
    #li-facebook{
        padding-left: 80px;
    }
}